@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&amp;display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-background: #e3e6e6;
  --nav-background: #121821;
  --searchbox-color: #febd69;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: var(--main-background);
}

.container {
  height: 100%;
  width: 100%;
}

.first-line {
  font-size: 12px;
  color: #bbb;
  font-weight: 500;
}

.second-line {
  font-size: 14px;
  color: #bbb;
  font-weight: 700;
}

.ln-height {
  line-height: 1.1;
}

.border {
  padding: 2px 5px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.border:hover {
  border: 1px solid #ddd;
  cursor: pointer;
}

.category,
.wishlist,
.deals,
.sell,
.location,
.sh-part-m,
.footer-part-sm {
  display: none;
}

nav {
  padding: 5px 10px;
  width: 100%;
  background-color: var(--nav-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav * {
  margin: 0px 2px;
}
